{{define "subject"}}Reset your Woragis password{{end}}
{{define "body"}}
  <p>Hi {{.DisplayName}},</p>
  <p>
    We received a request to reset your Woragis password. Use the secure button below to choose a new password.
  </p>
  <a class="button" href="{{.ResetURL}}">Change my password</a>
  <p>
    This link is valid for {{.ResetTTL}}. If you didn't request the change, no action is required and your password will remain the same.
  </p>
  <p class="small">
    Having trouble with the button? Copy and paste this URL in your browser:<br />
    {{.ResetURL}}
  </p>
{{end}}
{{define "text"}}
Reset your Woragis password

Hi {{.DisplayName}},

We received a request to reset your Woragis password. Use the link below to choose a new password (valid for {{.ResetTTL}}):
{{.ResetURL}}

If you didn't request the change, you can ignore this email and your password will stay the same.
{{end}}

